<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=2 user-scalable=no">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <script src="src/angular.min.js"></script>
        
    </head>
    <body>
        <div class="container">
            <div ng-app="myApp" ng-init="names=[{ name: 'Jani', country: 'India'}, { name: 'Rani', country: 'US'}, { name: 'Fani', country: 'France'} ]">
                <div class="row">
                    <input type="text" ng-model="name"/>
                </div>
            
                <div class="row">
                    <h1>Hello {{name}}</h1>
                </div>
                
                <div class="row">
                    <p>List of details..</p>
                    <br>
                <ul>
                    <li ng-repeat="x in names">
                    {{x.name + ' from ' + x.country}}
                    </li>    
                </ul>
                    
                    <div ng-repeat="x in names">
                    <p ng-if="x.country == 'India'">{{x.name}} is from India</p>
                    </div>
                    
                    
                </div>
                <div class="row">
                    
                    <!-- directive: new-directive -->
                </div>
                <div class="row">
                    <div another-directive></div>
                </div>
                <div class="row">
                    <div comment-directive></div>
                </div>
            
        </div>
        
        </div>
        <script>
        var app = angular.module('myApp',[]);
        app.directive('newDirective', function(){
            return {
                restrict: "M",
                template: "<h1>This is a new h1, created by new directive</h1>"
            };
        });
            
        app.directive('anotherDirective', function(){
            return {
                template: "<h1>This is a another h1, created by new directive using class</h1>"
            };
        });
        app.directive('commentDirective', function(){
            return {
                template: "<h2>This is comment directive</h2>"
            };
        });
        </script>
        <script src="jquery/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        
    </body>
</html>